<!DOCTYPE html>
<head>
  <title>Following</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "allusers" %}">Back to User List</a><br><br>
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div class="following">
    <h1>User You've Followed:</h1>
    {% if followingList %}
      {% for user in followingList %}
        <h3>User Name: </h3>{{user.username}}
      {% endfor %}
    {% else %}
      <br>You are not following any users!
    {% endif %}
  </div>
</body>
</html>
