<!DOCTYPE html>
<head>
  <title>Users You've Followed</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "allusers" %}">User List</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div class="following">
    {% if followingList %}
      <h3>User Name: </h3>
      {% for user in followingList %}
        {{user.username}}
      {% endfor %}
    {% else %}
      You are not following any users!
    {% endif %}
</body>
</html>
