<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "followingList" %}">Following</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div class="userList">
    {% if userList %}
      <h3>User Name: </h3>
      {% for user in userList %}
        {{ user.username }}
        <a href="/otherPetList/{{user.username}}">See Pet List</a>
        <button onclick="location.href='{% url "followingList" %}'">Follow</button>
        <br>
      {% endfor %}
    {% else %}
      You have no users to follow!
    {% endif %}
  </div>
</body>
</html>
