<!DOCTYPE html>
<head>
  <title>User List/title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div class="userList">
    {% if userList %}
      {% for user in userList %}
        <h3>User Name:
          {{user.username}} </h3>
      {% endfor %}
      <!--{% for pet in userPetList %}
        <h3>Pet Name:
        {{pet.pet_name}} </h3>
        <strong>Photo:</strong>
         <img class="pet-photo" src= "{{pet.pet_photo.url}}" alt="This is a photo of the pet">
        <p><strong>Bio:</strong>
        {{pet.pet_bio}}
        </p>
      {% endfor %}-->
    {% else %}
      You have no users to follow!
    {% endif %}
</body>
</html>
