.site-title{
  font-family: monospace;
}

.page-header{
  padding: 1em;
  color: white;
  background-color: #0f8edd;
  clear: left;
  text-align: center;
}

.site-icon{
  height: 10%;
  width: 10%;
}

.login{
  font-size: 200%;
  color: blue;
}

.profpic{
  height: 50%;
  width: 50%;
}

.profpic-home{
  height: 25%;
  width: 25%;
  font-size: 100%;
  font-style: italic;
}

.pet-photo{
  height: 30%;
  width: 30%;
}

.name{
  font-style: italic;
}

.NA{
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
}

.error{
  font-weight: bolder;
  color: red;
}

.no-image{
  height: 15%;
  width: 15%;
}
