<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">

      <a href="{% url "userpets" %}">Your Pet List</a><br>
      <a href="{% url "profile" %}">Edit Profile</a><br>
      <a href="{% url "index" %}">Swipe Page</a><br>
      <a href="{% url "allusers" %}">Follow</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>

</body>
</html>
