<!DOCTYPE html>
<html>
<head>
  <title>Your Pet List</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="page-header">
        <a href="{% url "homepage" %}">Home Page</a><br>
        <a href="{% url "create_pet" %}">Add a New Pet</a><br>
    </div>
    <!-- <div class="content container">
        <div class="row">
            <div class="col-md-8"> -->
                <!-- {% block content %}
                {% endblock %} -->
            <!-- </div>
        </div>
    </div> -->
    {% for field in form %}
      <div class="fieldWrapper">
          {{ field.user }}
          {{ field.pet_name }}
          {{ field.pet_photo }}
          {{ field.pet_bio }}
          {{ field }}
      </div>
    {% endfor %}
</body>
</html>
