<!DOCTYPE html>
<html>
<head>
  <title>Your Pet List</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="page-header">
        <a href="{% url "homepage" %}">Home Page</a><br>
        <a href="{% url "logoutuser" %}">Log Out</a><br><br>
    </div>

    <div class="petlist">
      {% if numPets < 10 %}
        You can add up to 10 pets! <br>
        <a href="{% url "create_pet" %}">Add New Pet</a><br>
      {% else %}
        You have the maximum number of pets. Delete a pet to make a new one.
      {% endif%}

      {% if userPetList %}
        {% for pet in userPetList %}
          <h3>Pet Name:
          {{pet.pet_name}} </h3>
          <strong>Photo:</strong>
           <img class="pet-photo" src= "{{pet.pet_photo.url}}" alt="This is a photo of the pet">
          <p><strong>Bio:</strong>
          {{pet.pet_bio}}
          <br>
          <a href="{% url "del_pet" pet_id=pet.id %}">Delete Pet</a>
          </p>
        {% endfor %}
      {% else %}
        You have no pets to show!
      {% endif %}
</body>
</html>
