<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "followinglist" %}">Users You're Following</a><br><br>
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div>
    <h1 class="name">All Users</h1>
    {% if userListFollowing %}
      {% for other in userListFollowing%}
        <h3>User Name: </h3>
        {{other.follow_user}}<br>
        <a href="{% url "otherpetlist" user_id=other.follow_id %}">See Pet List</a><br>
        {% if other.following %}
          You are already following this user!<br><br>
        {% else %}
          <a href="{% url "clickfollow" follow_id=other.follow_id %}">Follow</a><br><br>
        {% endif %}
      {% endfor %}
    {% else %}
      <br>You have no users to follow!
    {% endif %}
  </div>
</body>
</html>
