<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "userpets" %}">Your Pet List</a><br>
      <a href="{% url "profile" %}">Edit Profile</a><br>
      <a href="{% url "index" %}">Swipe Through Pets</a><br>
      <a href="{% url "allusers" %}">User List</a><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>

  <div class="current-user">
    {% if myAccount %}
      {% for person in myAccount %}

        <h1 class="name">Hello, {{person.username}}!</h1>
        <h2>Your photo:</h2><br>
        <img class="profpic-home" src= "{{person.photo.url}}" alt="No photo available"><br><br>
        <h2>Your bio:<h2>
        {% if person.bio %}
          <p>{{person.bio}}</p>
        {% else %}
          <p class="NA">You have not written a bio!</p>
        {% endif %}
        <br>
        <h2>Your links:</h2>
        <h3><a href="{% url "likedpets" %}">Pets You've Liked</a></h3><br>
      {% endfor %}
    {% else %}
      <h3>Nothing here!</h3>
    {% endif %}
  </div>

</body>
</html>
