<!DOCTYPE html>
<html>
<head>
  <title>Edit Pet</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="page-header">
        <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
        <h1 class="site-title">Pet Tinder</h1>
        <a href="{% url "homepage" %}">Home Page</a><br>
        <a href="{% url "userpets" %}">Your Pet List</a><br>
    </div>
    <div>
        <h1 class="name">Edit Pet</h1>
        <form method="POST" action="{% url "edit_this_pet" pet_id=pet.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Pet Name:</h3>
            {{form.pet_name}}<br>
            <h3>Pet Photos:</h3>
             Required Photo: <br>
             {{form.pet_photo}}<br><br>
             Optional Photos: <br>
             {{form.pet_photo2}}<br>
             {{form.pet_photo3}}<br>
             {{form.pet_photo4}}<br>
             {{form.pet_photo5}}<br>
             {{form.pet_photo6}}<br>
             <h3>Pet Bio:</h3>
             {{form.pet_bio}}<br><br>

            <button type="submit">Edit Pet</button>
        </form>
    </div>
</body>
</html>
