<!DOCTYPE html>
<html>
<head>
  <title>Your Pet List</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="page-header">
        <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
        <h1 class="site-title">Pet Tinder</h1>
        <a href="{% url "homepage" %}">Home Page</a><br><br>
        <a href="{% url "logoutuser" %}">Log Out</a><br>
    </div>
    <h1 class="name">Your Pet List</h1>
    <div>
      {% if numPets < 10 %}
        You can add up to 10 pets! <br>
        <a href="{% url "create_pet" %}">Add New Pet</a><br><br>
      {% else %}
        You have the maximum number of pets. Delete a pet to make a new one.
      {% endif%}

      {% if userPetList %}
        {% for pet in userPetList %}
          <h2>Pet Name:
          {{pet.pet_name}} </h2>
          <strong>Photos:</strong><br>
           <img class="pet-photo" src= "{{pet.pet_photo.url}}" alt="No pet photo"><br>
           {% if pet.pet_photo2 %}
              <img class="pet-photo" src= "{{pet.pet_photo2.url}}" alt="No pet photo"><br>
           {% endif%}
           {% if pet.pet_photo3 %}
              <img class="pet-photo" src= "{{pet.pet_photo3.url}}" alt="No pet photo"><br>
           {% endif%}
           {% if pet.pet_photo3 %}
              <img class="pet-photo" src= "{{pet.pet_photo3.url}}" alt="No pet photo"><br>
           {% endif%}
           {% if pet.pet_photo4 %}
              <img class="pet-photo" src= "{{pet.pet_photo4.url}}" alt="No pet photo"><br>
           {% endif%}
           {% if pet.pet_photo5 %}
              <img class="pet-photo" src= "{{pet.pet_photo5.url}}" alt="No pet photo"><br>
           {% endif%}
           {% if pet.pet_photo6 %}
              <img class="pet-photo" src= "{{pet.pet_photo6.url}}" alt="No pet photo"><br>
           {% endif%}
          <p><strong>Bio:</strong>
          {{pet.pet_bio}}
          <br>
          <a href="{% url "del_pet" pet_id=pet.id %}">Delete Pet</a>
          <a href="{% url "edit_pet" pet_id=pet.id %}">Edit Pet</a>
          </p><br>
        {% endfor %}
      {% else %}
        You have no pets to show!
      {% endif %}
    </div>
</body>
</html>
