<!DOCTYPE html>
<html>
<head>
  <title>Liked Pets</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "homepage" %}">Home Page</a><br><br>
      <a href="{% url "logoutuser" %}">Log Out</a><br>
  </div>
  <div class="petlist">
    <h1>Pets Liked:</h1>
    {% if petsLiked %}
      {% for pet in petsLiked %}
        <h3>Pet Name: {{pet.pet_name}} </h3>
        <strong>Photo:</strong><br>
         <img class="pet-photo" src= "{{pet.pet_photo.url}}" alt="This is a photo of the pet"><br>
         {% if pet.pet_photo2 %}
            <img class="pet-photo" src= "{{pet.pet_photo2.url}}" alt="No pet photo"><br>
         {% endif%}
         {% if pet.pet_photo3 %}
            <img class="pet-photo" src= "{{pet.pet_photo3.url}}" alt="No pet photo"><br>
         {% endif%}
         {% if pet.pet_photo3 %}
            <img class="pet-photo" src= "{{pet.pet_photo3.url}}" alt="No pet photo"><br>
         {% endif%}
         {% if pet.pet_photo4 %}
            <img class="pet-photo" src= "{{pet.pet_photo4.url}}" alt="No pet photo"><br>
         {% endif%}
         {% if pet.pet_photo5 %}
            <img class="pet-photo" src= "{{pet.pet_photo5.url}}" alt="No pet photo"><br>
         {% endif%}
         {% if pet.pet_photo6 %}
            <img class="pet-photo" src= "{{pet.pet_photo6.url}}" alt="No pet photo"><br>
         {% endif%}
        <p><strong>Bio:</strong>
        {{pet.pet_bio}}
        <br>
        </p>
      {% endfor %}
    {% else %}
      You have not liked any pets!
    {% endif %}
  </div>
</body>
</html>
