<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}" alt="Logo">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "homepage" %}">Home Page</a><br>
      <a href="{% url "profile" %}">Return to Edit Profile</a><br>
  </div>
  <h1 class="name">Change Password</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
</body>
</html>
