<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <img class="site-icon" src="{% static 'favicon.ico' %}">
      <h1 class="site-title">Pet Tinder</h1>
      <a href="{% url "homepage" %}">Home Page</a><br>

  </div>
  <h1 class="name">Edit Your User Profile</h1>
  <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>{{curr_user}}</h2>
    {{ form.as_p }}
    <p>
      <button type="submit">Save</button>
    </p>
  </form>

  <h2>Other Options:</h2>
  <a href="{% url "changePW" %}">Change Password</a><br>
  <a href="{% url "del_user" %}">Delete User</a><br>

</body>
</html>
