<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <div class="page-header">
      <a href="{% url "homepage" %}">Home Page</a><br>
  </div>
  <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Edit Profile: {{curr_user}}</h2>
    {{ form.as_p }}
    <p>
      <button type="submit">Save</button>
    </p>
  </form>
  <a href="{% url "changePW" %}">Change Password</a><br><br>
  <a href="{% url "del_user" %}">Delete User</a>
</body>
</html>
